body {
  margin: 0;
  font: 18px Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin-left: -2px;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 225%;
}

h3 {
  color: #0096FD;
  font-size: 175%;
}

h4 {
  font-size: 150%;
}

h5 {
  font-size: 125%;
}

h6 {
  font-size: 100%;
}

a, a:link, a:hover {
  color: #090;
  text-decoration: none;
  padding: 0 2px;
}

a:hover {
  background-color: #CCC;
}

#header img#masthead {
  margin: 1em 0 2em -2px;
}

#footer {
  font-size: 13px;
  color: #999;
  padding-top: 2.5em;
  border-top: 1px solid #D9D9D9;
}

#fat_finger {
  color: #FFF;
  background-color: #C00;
  width: 100%;
  text-align: center;
  padding: 1em;
  margin: 0 0 1em 0;
}

#container {
  width: 974px;
  margin: 0 auto;
}

#results {
  margin: 2em 0;
}

.result {
  padding-top: 1.35em;
  margin-bottom: 0.75em;
  border-top: 1px solid #D9D9D9;
}

ul.user_vitals, ul.user_vitals li.avatar, ul.user_vitals li, ul.colors, ul.colors li {
  display:inline-block;
}

ul.user_vitals {
  margin-bottom: 1em;
}

ul.user_vitals li.avatar {
  margin: 0 0.5em 0.5em 0;
}

ul.colors li {
  margin: 1em;
}

ul.colors li p {
  text-align:center;
}

ul.colors li p.swatch {
  width:150px;
  height: 150px;
}

#loading {
  text-align: center;
}