<div id="footer">
  <p>Created by <%= link_to "Eric Hurst", "http://www.erichurst.com" %>. Hosted at <%= link_to "Heroku", "http://heroku.com/" %>. Available at <%= link_to "GitHub", "https://github.com" %>. &copy;<%= display_year %> and all that junk.</p>
</div>
