<% form_remote_tag :url => {:controller => "colors", :action => "create"}, :html => {:id => "entry_form"} do -%>
  <strong><%= label_tag :username, "Submit a Twitter user &amp; get their color scheme back:" %></strong> <%= text_field_tag :username %> <%= submit_tag "Do it" %>
<% end -%>

<div id="results"></div>